# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/lib/core/node_modules

# misc
/.sass-cache
/.eslintcache
/connect.lock
/coverage/*
/coverage_*
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log
Previous:u
